 <div class="page-header">
            <h1>Users</h1>
        </div>
        <table class="table">
            <caption>Users
                <button type="button" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add user
                    
                </button>
            </caption>

            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>admin</td>
                    <td>admin</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Client1</td>
                    <td>client</td>
                </tr>
            </tbody>
        </table>