  <div class="page-header">
            <h1>Add invoice</h1>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="basic-url">Invoice number</label>
                <input type="text" class="form-control" placeholder="Invoice number">
            </div>

            <div class="form-group">
                <label for="basic-url">Client</label>
                <input type="text" class="form-control" placeholder="Invoice number">
            </div>

            <div class="form-group">
                <label for="basic-url">Client</label>
                <select class="form-control">
                    <option>Client 1</option>
                    <option>Client 2</option>
                    <option>Client 3</option>
                    </select>
            </div>

            <div class="form-group">
                <label for="basic-url">VAT</label>
                <input type="text" class="form-control" placeholder="Invoice number">
            </div>
            <div class="form-group">
                <label for="basic-url">Amount</label>
                <input type="text" class="form-control" placeholder="Invoice number">
            </div>

            <div class="input-group">
                <label for="basic-url">Lines</label>
                <input type="text" class="form-control" placeholder="Invoice number">
                <input type="text" class="form-control" placeholder="Invoice number">
            </div>
            <div class="input-group">
                <button type="button" class="btn btn-primary">Cancel</button>
                <button type="button" class="btn btn-primary">Add line</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </form>