 <div class="page-header">
            <h1>Invoices{{1+1}}</h1>
        </div>
        <table class="table">
            <caption>Client invoices
                <button type="button" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add invoice
                    
                </button>
            </caption>

            <thead>
                <tr>
                    <th>#</th>
                    <th>Invoice Number</th>
                    <th>Client</th>
                    <th>Vat</th>
                    <th>Amount</th>
                    <th>Paid Amount</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>12343</td>
                    <td>Client 1</td>
                    <td>24</td>
                    <td>23.00</td>
                    <td>0.00</td>
                    <td><span class="label label-default">Unpaid</span></td>
                    <td>
                        <button type="button" class="btn btn-primary">Pay invoice</button>
                        <button type="button" class="btn btn-primary">View invoice</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12343</td>
                    <td>Client 1</td>
                    <td>24</td>
                    <td>234.00</td>
                    <td>234.00</td>
                    <td><span class="label label-success">Paid</span></td>
                    <td>
                        <button type="button" class="btn btn-primary">Pay invoice</button>
                        <button type="button" class="btn btn-primary">View invoice</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12343</td>
                    <td>Client 1</td>
                    <td>24</td>
                    <td>234.00</td>
                    <td>24.00</td>
                    <td><span class="label label-primary">Partially Paid</span></td>
                    <td>
                        <button type="button" class="btn btn-primary">Pay invoice</button>
                        <button type="button" class="btn btn-primary">View invoice</button>
                    </td>
                </tr>
            </tbody>
        </table>