<div class="page-header">
            <h1>Pay invoice</h1>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="basic-url">Invoice number</label>
                <input type="text" class="form-control" placeholder="Invoice number">
            </div>

            <div class="form-group">
                <label for="basic-url">VAT</label>
                <input type="text" class="form-control" placeholder="Invoice number">
            </div>
            <div class="form-group">
                <label for="basic-url">Amount</label>
                <input type="text" class="form-control" placeholder="Invoice number">
            </div>

            <div class="input-group">
                <label for="basic-url">Lines</label>
                <input type="text" class="form-control" placeholder="Invoice number">
                <input type="text" class="form-control" placeholder="Invoice number">
            </div>

            <div class="form-group">
                <label for="basic-url">Payment amount</label>
                <input type="text" class="form-control" placeholder="Invoice number">
            </div>

            <div class="input-group">
                <button type="button" class="btn btn-primary">Cancel</button>
                <button type="button" class="btn btn-primary">Pay</button>
            </div>
        </form>