 <div class="page-header">
            <h1>Payments</h1>
        </div>
        <table class="table">
            <caption>My payments
            </caption>

            <thead>
                <tr>
                    <th>#</th>
                    <th>Invoice Number</th>
                    <th>Amount</th>
                    <th>Payment Amount</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>12343</td>
                    <td>23.00</td>
                    <td>0.00</td>
                    <td>22.03.2016</td>
                    <td>
                        <button type="button" class="btn btn-primary">View payment</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12343</td>
                    <td>23.00</td>
                    <td>0.00</td>
                    <td>22.03.2016</td>
                    <td>
                        <button type="button" class="btn btn-primary">View payment</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12343</td>
                    <td>23.00</td>
                    <td>0.00</td>
                    <td>22.03.2016</td>
                    <td>
                        <button type="button" class="btn btn-primary">View payment</button>
                    </td>
                </tr>
            </tbody>
        </table>