<!DOCTYPE html>
<html ng-app="demoInvoice">

<head>
    <title></title>
    <meta charset="UTF-8">
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" ng-if="css" ng-href="css/{{css}}.css" media="screen" title="no title" charset="utf-8">
</head>

<body>

    <div ui-view>    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="node_modules/underscore/underscore-min.js" charset="UTF-8"></script>-->
    <script src="node_modules/angular/angular.min.js" charset="UTF-8"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js" charset="UTF-8"></script>
    <!--<script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->
    <script src="webapp/app.js" charset="UTF-8"></script>
    <script src="webapp/scripts/configs/config.js"></script>
    <script src="webapp/scripts/providers/authApi.js"></script>
    <script src="webapp/scripts/controllers/auth/LoginController.js"></script>
</body>

</html>