<form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Name</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Name" required autofocus ng-model="name">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="password">
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" ng-click="login(name,password)">Sign in</button>
</form>