<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">demoInvoice</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a ui-sref="app.invoices">Invoices</a></li>
                <li><a ui-sref="app.payments">Payments</a></li>
                <li><a ui-sref="app.users">Users</a></li>
                <li><a ui-sref="app.users">Logout</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<!-- Begin page content -->
<div class="container">
    <div ui-view="content"></div>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">This is a demo application.</p>
    </div>
</footer>